# Data Analytics Framework

## Cross Industry Standard Process for Data Mining (CRISP-DM)

![title](img/crisp_dm.png)

## Team Data Science Process (TDSP)

![title](img/tdsp.png)

# Handling Missing Values

## How to identify missing values?
<code>df.isnull()</code> - It returns True if values are missing


## How to deal with missing values?

- Drop the missing values.
    * either drop the entire row
    <br><code> df.dropna('col_name', axis = 0, inplace = True)</code>
    * or drop the entire column
    <br><code> df.dropna('col_name', axis = 1, inplace = True)</code>
- Replace the missing value 
    * Use business understanding
    * Statistical methods - Imputation (Mean, Median, Mode)
    <br><code> df['col_name'].fillna(df.col_name.mean(), inplace = True)</code>

In [1]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv('data/data.csv')

df

  FirstName LastName   Age  Sex preTestScore postTestScore location
0       abc      mno  12.0    m         90.0          65.0      NaN
1       NaN      NaN   NaN  NaN         90.0             ?      NaN
2       ghi      pqr  12.0    f            -          65.0        ?
3       jkl      stu  12.0    f         90.0          62.0      NaN
4       mno      vwx  12.0    m         89.0          63.0      NaN

In [3]:
print(df.shape)

print(df.info())

(5, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FirstName      4 non-null      object
 1   LastName       4 non-null      object
 2   Age            4 non-null      float64
 3   Sex            4 non-null      object
 4   preTestScore   5 non-null      object
 5   postTestScore  5 non-null      object
 6   location       1 non-null      object
dtypes: float64(1), object(6)
memory usage: 408.0+ bytes
None

In [19]:
missing_val = ['n/a', '-', '?']

df = pd.read_csv('data/data.csv', na_values = missing_val)

df.head()

  FirstName LastName   Age  Sex  preTestScore  postTestScore  location
0       abc      mno  12.0    m          90.0           65.0       NaN
1       NaN      NaN   NaN  NaN          90.0            NaN       NaN
2       ghi      pqr  12.0    f           NaN           65.0       NaN
3       jkl      stu  12.0    f          90.0           62.0       NaN
4       mno      vwx  12.0    m          89.0           63.0       NaN

## How to identify missing values?

In [5]:
df.head()

  FirstName LastName   Age  Sex  preTestScore  postTestScore  location
0       abc      mno  12.0    m          90.0           65.0       NaN
1       NaN      NaN   NaN  NaN          90.0            NaN       NaN
2       ghi      pqr  12.0    f           NaN           65.0       NaN
3       jkl      stu  12.0    f          90.0           62.0       NaN
4       mno      vwx  12.0    m          89.0           63.0       NaN

In [6]:
df.isnull()

   FirstName  LastName    Age    Sex  preTestScore  postTestScore  location
0      False     False  False  False         False          False      True
1       True      True   True   True         False           True      True
2      False     False  False  False          True          False      True
3      False     False  False  False         False          False      True
4      False     False  False  False         False          False      True

In [7]:
# Identifying missing values in columns
df.isnull().sum()

FirstName        1
LastName         1
Age              1
Sex              1
preTestScore     1
postTestScore    1
location         5
dtype: int64

In [8]:
# Columns with atleast one missing value
df.isnull().any(axis=0)

FirstName        True
LastName         True
Age              True
Sex              True
preTestScore     True
postTestScore    True
location         True
dtype: bool

In [9]:
# Columns with all missing values
df.isnull().all(axis=0)

FirstName        False
LastName         False
Age              False
Sex              False
preTestScore     False
postTestScore    False
location          True
dtype: bool

In [10]:
# Number of columns with all missing values
df.isnull().all(axis=0).sum()

1

In [11]:
# Rows with atleast one missing values
df.isnull().any(axis=1)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [12]:
#Rows with all missing values
df.isnull().all(axis=1)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [13]:
# Number of rows with all missing values
df.isnull().all(axis=1).sum()

0

### Missing values Treatment in Columns

In [23]:
round(100*(df.isnull().sum()/len(df.index)), 2)

FirstName         20.0
LastName          20.0
Age               20.0
Sex               20.0
preTestScore      20.0
postTestScore     20.0
location         100.0
dtype: float64

In [26]:
# removing the location Column
df.dropna(axis = 1, how='all', inplace = True)

round(100*(df.isnull().sum()/len(df.index)), 2)

FirstName        20.0
LastName         20.0
Age              20.0
Sex              20.0
preTestScore     20.0
postTestScore    20.0
dtype: float64

### Missing values Treatment in Rows

In [27]:
df[df.isnull().sum(axis=1) >= 4]

  FirstName LastName  Age  Sex  preTestScore  postTestScore
1       NaN      NaN  NaN  NaN          90.0            NaN

In [28]:
# retaining the rows having <= 4 NaNs
df = df[df.isnull().sum(axis=1) <= 4]

# look at the summary again
round(100*(df.isnull().sum()/len(df.index)), 2)

FirstName         0.0
LastName          0.0
Age               0.0
Sex               0.0
preTestScore     25.0
postTestScore     0.0
dtype: float64

In [30]:
df.head()

  FirstName LastName   Age Sex  preTestScore  postTestScore
0       abc      mno  12.0   m          90.0           65.0
2       ghi      pqr  12.0   f           NaN           65.0
3       jkl      stu  12.0   f          90.0           62.0
4       mno      vwx  12.0   m          89.0           63.0

In [29]:
df['preTestScore'].describe()

count     3.000000
mean     89.666667
std       0.577350
min      89.000000
25%      89.500000
50%      90.000000
75%      90.000000
max      90.000000
Name: preTestScore, dtype: float64

In [100]:
# imputing preTestScore by mean values
df['preTestScore'].fillna(df['preTestScore'].mean(), inplace=True)

round(100*(df.isnull().sum()/len(df.index)), 2)

FirstName        0.0
LastName         0.0
Age              0.0
Sex              0.0
preTestScore     0.0
postTestScore    0.0
dtype: float64

In [101]:
df.head()

  FirstName LastName   Age Sex  preTestScore  postTestScore
0       abc      mno  12.0   m     90.000000           65.0
2       ghi      pqr  12.0   f     89.666667           65.0
3       jkl      stu  12.0   f     90.000000           62.0
4       mno      vwx  12.0   m     89.000000           63.0

In [102]:
# fraction of rows lost
1 - len(df.index)/5

0.19999999999999996

## Mutable vs Immutable

In [32]:
s = 'Hi!'

# s[0] ='h'

s = 'hi!'

print(s)

hi!

In [33]:
s_1 = 'Hi'

s_2 = 'Hi'

print(id(s_1))

print(id(s_2))

1666635378544
1666635378544

In [34]:
a = 10

b = 10

print(id(a))

print(id(b))

140727997538992
140727997538992

In [35]:
lst_1 = [1, 2, 3]

lst_2 = [1, 2, 3]

print(id(lst_1))

print(id(lst_2))

1666634808648
1666635303048