## SQLite Database

In [1]:
import sqlite3

## How to connect with database in Python?

1. Import database module<br /><br />
<code>import sqlite3</code><br /><br />

2. Establish connection between python program and db<br /><br />
<code>con = sqlite3.connect(database)</code><br /><br />

3. To execute mysql query and hold result cursor is required<br /><br />
<code>cursor = con.cursor()</code><br /><br />

4. Execute MySql query with the help of cursor object<br /><br />
<code>cursor.execute(query)</code><br /><br />
<code>cursor.executemany()</code><br /><br />

5. fetch the result from cursor object in case of select query<br /><br />
<code>cursor.fetchone()</code><br /><br />
<code>cursor.fetchall()</code><br /><br />
<code>cursor.fetchmany(n)</code><br /><br />

6. commit or rollback changes based on your requirement<br /><br />
<code>con.commit()</code><br /><br />
<code>con.rollback()</code><br /><br />

7. close the resources and disconnect database<br /><br />
<code>cursor.close()</code><br /><br />
<code>con.close()</code><br /><br />

In [3]:
import sqlite3

con = sqlite3.connect('data/kanav.db')

print("Opened database successfully")

con.close()

Opened database successfully

In [4]:
import sqlite3

try:
    con = sqlite3.connect('data/kanav.db')
    print(con)
    
finally:
    con.close()
    print('DONE!!')

<sqlite3.Connection object at 0x000001C1DE2CA4E0>
DONE!!

## Creating Database Table

In [5]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = 'create table employees(eno int(5) primary key, \
    ename varchar(10), eage int(3))'
    
    cursor.execute(query)
    
    print('Table created successfully!!')
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')
    
# '''
# query = 'create table employees1(eno int(5) primary key, \
#     ename varchar(10), eage int(3), eincome double(10,2), \
#     foreign key(eno) references employees(eno))'
# '''

Table created successfully!!
DONE!!

## Adding new columns

In [6]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = 'alter table employees add column eincome double(10,2)'
    
    cursor.execute(query)
    
    print('Column added Successfully!!')
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Column added Successfully!!
DONE!!

## Insert Operation

In [7]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = "insert into employees(eno, ename, eage, eincome) \
    values(1,'lmn',30,70000)"
    
    cursor.execute(query)
    
    con.commit()
    
    print('Row inserted Successfully')
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Row inserted Successfully
DONE!!

In [8]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = "insert into employees(eno, ename, eage, eincome) \
    values(?,?,?,?)"
    
    records = [(3, 'xyz', 33, 40000),(4, 'abc', 23, 23000)]
    
    cursor.executemany(query, records)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

## Read Operation

In [9]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = 'select * from employees'
    
    cursor.execute(query)
    
    data = cursor.fetchall()
    
    for row in data:
        print('Eno: {}, Ename: {}, Eage: {}, Esal: {}'\
             .format(row[0], row[1], row[2], row[3]))
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Eno: 1, Ename: lmn, Eage: 30, Esal: 70000.0
Eno: 3, Ename: xyz, Eage: 33, Esal: 40000.0
Eno: 4, Ename: abc, Eage: 23, Esal: 23000.0
DONE!!

## Update Operation

In [10]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    query = "update employees set eage=eage+1 where ename = 'lmn'"
    
    cursor.execute(query)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

## Delete Operation

In [11]:
import sqlite3

try:
    con = sqlite3.connect('kanav.db')
    
    cursor = con.cursor()
    
    age = input('Enter age: ')
    
    query = "delete from employees where eage={}".format(age)
    
    cursor.execute(query)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Enter age: 31
DONE!!

# Reading Database to Pandas

In [18]:
import pandas as pd
from sqlalchemy import create_engine
  
# SQLAlchemy connectable
engine = create_engine('sqlite:///data/database.sqlite')
conn = engine.connect()
  
# table named 'Salaries' will be returned as a dataframe.
df = pd.read_sql_table('Salaries', conn)
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0,400184.25,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.71,198306.9,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737,182234.59,,326373.19,326373.19,2011,,San Francisco,

In [24]:
# Check all tablenames inside a database

from sqlalchemy import inspect

inspect = inspect(engine)

print(inspect.get_table_names())

['Salaries']

In [25]:
# SQLite Implementation

output = pd.read_sql_query("""SELECT MAX(TotalPay) FROM Salaries""", conn)
output

   MAX(TotalPay)
0      567595.43

In [26]:
# Pandas Implementation - 1

max(df.TotalPay)

567595.43

In [27]:
# Pandas Implementation - 2
# Syntax - dataframe.loc[row, index]

df.loc[df.TotalPay == max(df.TotalPay), ['TotalPay']]

    TotalPay
0  567595.43