## List Comprehension

In [1]:
# List containing the square of first 5 numbers

lst = []

for i in range(1, 6):
    lst.append(i**2)
    
print(lst)

[1, 4, 9, 16, 25]

In [1]:
# Lets try the above code using list comprehension

lst = [ i**2 for i in range(1, 6) ]

print(lst)

# SYNTAX : lst = [ expression for i in sequence ]
# i.e. for every 'i' in the 'sequence' apply the 'expression'
# and add that 'expression' value to the lst

[1, 4, 9, 16, 25]

In [3]:
lst = [ w for w in 'PYTHON' ]
print(lst)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
# Very easy and elegant.

# Length of the code is going to reduce.

In [ ]:
# Lets now try to apply the condition to 'i'
# lst = [ expression for i in sequence if condition ]
# i.e. for every 'i' in the 'sequence' if that 'i' 
# satisfies the condition, than apply the 'expression'
# and add that 'expression' value to the lst

In [4]:
lst = [ i**2 for i in range(1, 30) ]

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [5]:
lst = [ i**2 for i in range(1, 30) if i%2==0 ]

print(lst)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]

In [33]:
sup_hero = ['Shaktiman', 'Krish', 'Flying Jatt', 'Bhavesh Joshi']

# Try to extract the first Character of each name into a list.

lst = [ word[0] for word in sup_hero]

print(lst)

['S', 'K', 'F', 'B']

In [35]:
s = 'the quick brown fox jumps over the lazy dog'

# Convert each word into upper case and 
# count the number of characters in each word

lst = [ [word.upper(), len(word)] for word in s.split() ]

print(lst)

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

## Anonymous Functions

In [10]:
def square(n):
    return n*n

print(square(5))

25

In [11]:
lam_sq = lambda n : n*n

print(lam_sq(5))

25

In [36]:
# Product of two numbers

prod = lambda a, b : a*b

print(prod(2,3))

6

In [37]:
# Larger of two numbers

# a>b?a:b
# a if a>b else b

greater = lambda a,b : a if a>b else b

print(greater(2,6))

6

In [12]:
# It is possible to pass a function as an argument to another function
# In this case we should go for LAMBDA functions

# If we have only one time requirement, than why to go for seperate top level functions?

### filter()

In [14]:
# Suppose we have 10 numbers, and we want to filter only 
# even numbers from that.

# So based on some contition if we want to filter a particular group.

In [15]:
# Syntax : filter(function, sequence)

# function always returns True or False

In [6]:
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
    

lst = [0,1,2,3,4,5,6,7,8,9,10]

f = list(filter(isEven, lst))

print(f)

[0, 2, 4, 6, 8, 10]

In [40]:
lst = [0,1,2,3,4,5,6,7,8,9,10]

f = list(filter(lambda x : x%2==0, lst))

print(f)

[0, 2, 4, 6, 8, 10]

### map()

In [22]:
# If the requirement is to map each value of sequence to something

# Lets say, we want to find the double of each element in a sequence

# Syntax : map(function, sequence)

In [23]:
def double(x):
    return 2*x

lst = [1, 2, 3, 4, 5]
d = list(map(double, lst))

print(d)

[2, 4, 6, 8, 10]

In [25]:
lst = [6, 7, 8, 9, 10]
d = list(map(lambda x : 2*x, lst))

print(d)

[12, 14, 16, 18, 20]

In [7]:
# multiply two lists element wise

lst_1 = [1, 2, 3, 10]
lst_2 = [4, 5, 6]

lst_3 = list(map(lambda x, y : x*y, lst_1, lst_2))

print(lst_3)

[4, 10, 18]

### reduce()

In [27]:
# reduce() function reduces sequence of elements into a single 
# element by applying the specified function.

# reduce() function present in functools module

In [28]:
from functools import *

lst = [1, 2, 3, 4, 5, 6, 7]

r = reduce(lambda x,y : x+y, lst)

print(r)

28

## Function Aliasing

In [9]:
def sq(n):
    return n*n

new_sq = sq

print(new_sq(5))

print(sq(6))

25
36

In [13]:
def fun():
    return 'Hello World!!'

# What is the difference between following lines?

# f1 = fun
f1 = fun()
print(f1)

Hello World!!